/* Estilos del menú */
#menu {
    height: 40px;
    background-color: aquamarine;
    margin: 1em auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu ul {
    list-style-type: none;
}

#menu li {
    display: inline-block;
    margin-right: 20px;
}

#menu li:last-child {
    margin-right: 0;
}

#menu li a {
    text-decoration: none;
    color: blue;
    padding: 10px;
}

#menu li a:hover {
    color: crimson;
    font-size: 20px;
}

/* Estilos del contenedor */
#contenedor {
    max-width: 900px; /* Modificado para que sea un ancho máximo en lugar de un ancho fijo */
    background-color: bisque;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
}

/* Estilos del encabezado */
#encabezado {
    background-color: rgb(255, 228, 196);
    margin-bottom: 20px; 
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

#encabezado img {
    display: block;
    margin: 0 auto;
}

/* Estilos del pie de página */
#pie {
    background-color: dimgrey;
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

#pie div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#pie h5 {
    font-size: 20px;
    color: white;
    line-height: 1;
}

/* Estilos de las imágenes */
.img {
    max-width: 100%; /* Modificado para que las imágenes no excedan su contenedor */
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos del texto */
.text, h2 {
    color: blue; /* Color del texto ajustado */
    text-align: center; /* Centrar el texto */
}

.subtitulo {
    color: blue; /* Color ajustado */
    text-align: center; /* Centrar el texto */
}

/* Estilos de los enlaces */
.enlaces {
    font-size: 20px; /* Tamaño de fuente ajustado */
    color: blue; /* Color de texto ajustado */
    text-decoration: none;
}

.enlaces:hover {
    color: crimson; /* Color de texto al pasar el ratón ajustado */
}
